/* General Styles */
body {
    width: 100%;
    font-size: 1rem;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

li {
    list-style-type: none;
}

p {
    line-height: 20px;
}
/**Header Styles**/
header {
    width: 100%;

}

.header-content {
    background-color: #f7c6ee;
    width: 100%;
}
h1 {
    text-align: center;
}
div.header-divider {
    height: 1px;
    background-color: black;
    width: 100%;

}
/*Nav Styles */
.nav-content {
    background-color: #f7eddc;
    width: 100%;

}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    background-color: #f7eddc;
}

li {
    padding-right: 20px;
    font-size: 1.125em;
}

a:link {
    text-decoration: black;
    color: black;
}

 a:visited {
    color: white;
}

a:hover {
    color: #f7c6ee;
}

/* Hero Area */
.hero-area{
    background-image: url('../img/header-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* About Section */
#about {
    padding-left: 10px;
}
/*Menu Section */
.menu-item {
    background-color: #ffebfb;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
    margin-left: 20px;
    flex-direction: column;
    padding: 20px;
}
.menu-item h3 {
    text-align: center;
}
.menu-img {
   min-height: 200px;
  /*  width: 133.33px; */
  width: 150px;
    
}
/* Catering Section */
#catering {
    padding-left: 10px;
}
figure img {
    height: 200px;
    width: 300px;
    background-size: cover;
}

