/* General Styles */
body {
    width: 100%;
    font-size: 1rem;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Nav Styles */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
