/* General Styles */
body {
  width: 100%;
  font-size: 1rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

li {
  list-style-type: none;
}

p {
  line-height: 20px;
}

/**Header Styles**/
header {
  width: 100%;
}

.header-content {
  background-color: #ffebfb;
  width: 100%;
}
h1 {
  text-align: center;
}
div.header-divider {
  height: 1px;
  background-color: black;
  width: 100%;
}
/*Nav Styles */
.nav-content {
  background-color: #f7f7f7;
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

li {
  padding-right: 20px;
  font-size: 1.125em;
}

a:link {
  text-decoration: underline solid 5px #ffebfb;
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: #f7c6ee;
}

/* Hero Area */
.hero-area {
  background-image: url("../img/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* About Section */
#about {
  background: #dedece;
}

.divider {
  margin: 10px 0;
  width: 100%;
  height: 5px;
  background: #f7f7f7;
  padding: 0;
}

#about p {
  padding-left: 10px;
}
/*Menu Section */
#menu {
  background-color: #f7f7f7;
  width: 100%;
}
#menu h2,
h3 {
  text-align: center;
}

.menu-item {
  background-color: #ffebfb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  padding: 20px;
  margin: 0 20px 20px 20px;
}
.menu-item h3 {
  text-align: center;
}
.menu-img {
  min-height: 200px;
  /*  width: 133.33px; */
  width: 200px;
}
/* Catering Section */
#catering {
  padding-left: 10px;
  background-color: #dedece;
}
#catering h2 {
  text-align: center;
}
figure img {
  height: 200px;
  width: 300px;
  background-size: cover;
  border: 5px solid #f7f7f7;
}

#catering p {
  width: 90%;
  margin: 15px 15px 20px 15px;
}

/*Footer Section */
footer {
  background-color: #ffebfb;
  padding-top: 20px;
}

address {
  margin-bottom: 20px;
}

address p {
  width: 100%;
  text-align: center;
}

address.contact {
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a:hover {
  color: #dedece;
}

.social h3 {
  width: 100%;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.update {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  /*General Styles */

  /**Header Styles **/

  /*Nav Styles */
  ul.navigation {
    width: 100%;
    justify-content: space-around;
  }

  /*About Section */
  #about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  #about h2 {
    width: 100%;
    text-align: center;
  }

  #about p {
    width: 40%;
  }

  .divider {
    display: none;
  }

  p.divide {
    padding-right: 40px;
    border-right: 5px solid #f7f7f7;
  }

  /*Menu Section */
  #menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #menu h2 {
    text-align: center;
    width: 100%;
  }

  #menu h3 {
    width: 100%;
  }
  .menu-item {
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
  }

  .menu-img {
    height: 297.99px;
  }

  /*Catering Section */
  .cater-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #catering h2 {
    width: 100%;
  }

  /* Footer Section */
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .location {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #f7f7f7;
  }

  .contact h3 {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
  }

  .contact a {
    text-align: center;
    width: 100%;
  }

  .contact,
  .social {
    width: 30%;
    text-align: center;
  }

  .update {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  /* About Section */
  #about {
    justify-content: space-evenly;
  }
  #about p {
    width: 30%;
  }

  p.divide {
    border: none;
    padding: none;
  }
  /*Menu Section */
  .menu-item {
    width: 20%;
  }

  /*Catering Section */
  .cater-divider {
    justify-content: center;
  }

  #catering p {
    width: 40%;
  }
}
